ATTRIBUTE word {
    LABEL "Wordform"
}

ATTRIBUTE  pos {
    LABEL "Part-of-speech tag"
}

ATTRIBUTE lemma {
    LABEL "Lemma"
}

ATTRIBUTE   lc {
    LABEL    "Wordform (lowercase)"
    DYNAMIC  utf8lowercase
    DYNLIB   internal
    ARG1     "C"
    FUNTYPE  s
    FROMATTR word
    TYPE     index
    TRANSQUERY    yes
}

ATTRIBUTE   lemma_lc {
    LABEL    "Lemma (lowercase)"
    DYNAMIC  utf8lowercase
    DYNLIB   internal
    ARG1     "C"
    FUNTYPE  s
    FROMATTR lemma
    TYPE     index
    TRANSQUERY    yes
}

ATTRIBUTE  dep {
    LABEL   "Dependency relation"
}

ATTRIBUTE  dep_head_pos {
    LABEL   "Dependency relation head position"
}

ATTRIBUTE  dep_head_lemma {
    LABEL   "Dependency relation head lemma"
}

ATTRIBUTE  dep_head_dep {
    LABEL   "Dependency relation head dependency"
}

STRUCTURE doc {
    ATTRIBUTE language {
        LABEL "Language"
    }
    ATTRIBUTE portal {
        LABEL "Source portal"
    }
    ATTRIBUTE link {
        LABEL "Source link"
    }
    LABEL "Document"
}

STRUCTURE s {
    LABEL   "Sentence"
}
